#titleSummary{
    width: fit-content;
    padding-left: 328px;
    padding-top: calc(206px - 96px);
    display: flex;
    align-items: center;
    gap: 30px;
}

.summaryTitle{
    font-family: "Inter";
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    color: rgba(0, 0, 0, 1);
}

.summaryTitleVektor{
    height: 59px;
    width: 3px;
    background-color: rgba(41, 171, 226, 1)
}

.summaryTitleText{
    font-family: "Inter";
    font-weight: 400px;
    font-size: 27px;
    line-height: 32.4px;
    color: rgba(42, 54, 71, 1);
}

#textRegards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

#infosSummary{
    display: flex;
    flex-direction: column;
    gap: calc(392px - 196px - 168px);
}

.summaryText{
    padding-left: 328px;
    padding-top: calc(335px - 206px - 73px);
    display: flex;
    align-items: center;
    gap: calc(968px - 328px - 560px);
}

.regardsTime{
    font-family: "Inter";
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
    color: rgba(42, 54, 71, 1);
}

.regardsName{
    font-family: "Inter";
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    color: rgba(41, 171, 226, 1);
}

.summaryToDO{
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.summaryToDO:hover{
   transform: scale(1.07, 1.09);
   background-color: rgba(42, 54, 71, 1);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   cursor: pointer;
}

.summaryToDO:hover .summaryNumber{
    color: white;
}

.summaryToDO:hover .summaryTaskText{
    color: white;
}

.summaryToDO:hover .backgroundImg-ToDo{
    background-image: url("../assets/img/toDOwhite.svg");
}

.summaryToDO:hover .backgroundImg-Done{
    background-image: url("../assets/img/DoneWhite.svg");
}

.toDoDone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeLine{
    width: 560px;
    height: 168px;
    border-radius: 30px;
    padding: 28px 48px 28px 48px;
    display: flex;
    gap: 61px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.timeLine:hover{
    transform: scale(1.02, 1.09);
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
 }
 
 .timeLine:hover .summaryNumber{
     color: white;
 }
 
.timeLine:hover .summaryTaskText{
     color: white;
}

.timeLine:hover .timeLineDateNumber{
    color: white;
}

.timeLine:hover .timeLineDateText{
    color: white;
}

.summaryTasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summarySeparateTasks{
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 25px 0px 25px 0px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.summarySeparateTasks:hover{
    transform: scale(1.09);
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
 }
 
 .summarySeparateTasks:hover .summaryNumber{
     color: white;
 }
 
 .summarySeparateTasks:hover .summaryTaskText{
     color: white;
 }

.summaryNumber{
    font-family: "Inter";
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    color: rgba(0, 0, 0, 1);
}

.summaryTaskText{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(42, 54, 71, 1);
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timeLineVektor{
    height: 102.02px;
    width: 2px;
    background-color: rgba(209, 209, 209, 1);
}

.timeLineUrgent{
    display: flex;
    gap: 18px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.summaryUrgentImg{
    width: 60px;
    height: 60px;
}

.summaryDoneImg{
    width: 69px;
    height: 69px;
}

.timeLineDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
}

.timeLineDateNumber{
    font-family: "inter";
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: rgba(42, 54, 71, 1);
}

.timeLineDateText{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 13px;
    text-align: center;
}

.backgroundImg-ToDo{
    background-image: url("../assets/img/ToDo.svg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.backgroundImg-Done{
    background-image: url("../assets/img/Done.svg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.buttonTest{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 400px;
    background-color: red;
}

.vektorTextSummary{
    display: flex;
    gap: 30px;
    align-items: center;
}

.summaryMobil{
    width: 100vw;
    height: calc(100vh - 50px - 132px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


