/*Media query*/

@media (max-width: 1400px) {
  .contactDetailsName {
    font-size: 28px;
  }
}

/*Media query*/

@media (max-width: 1400px) {
  .contactsSidebar {
    position: static;
  }

  .headlinesContainer {
    left: 500px;
    margin: -10px;
  }

  .contactsHeadlineContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactsHeadlineContainer::after {
    width: 59px;
    height: 3px;
    transform: translateX(-260%);
    bottom: -10px;
  }

  .subheadingContacts {
    margin-left: 0;
  }

  .fullContactDetails {
    margin-top: 20px;
  }

  .contactDetailsName {
    font-size: 20px;
  }

  .contactsFullscreen.in {
    left: 490px;
  }

  /*Add new contact overlay*/

  .addNewContactOverlay {
    position: fixed;
    top: 50%;
    left: calc(100vw / 2);
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 30px;
    opacity: 1;
    width: 396px;
    height: 760px;
    gap: 49px;
    border-radius: 30px;
    display: flex;
    animation: slide-up 0.5s ease-out forwards;
    transition: transform 0.5s ease-out;
  }

  .errorMessageContacts{
    top: calc((100% - 30px));
  }

  .closeOverlayIcon {
    display: none;
  }

  .whiteCloseOverlay {
    top: 24px;
    left: 348px;
    padding: 4px;
    gap: 0px;
    border-radius: 56px;
    position: absolute;
    display: flex;
    cursor: pointer;
  }

  .closeButtonWhite {
    width: 32px;
    height: 32px;
    border-radius: 56px;
  }

  .closeButtonWhite:hover {
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #29abe2;
  }

  .leftOverlayContent {
    width: 396px;
    height: 352px;
    padding: 66px 24px 66px 24px;
    gap: 12px;
    display: flex;
    border-radius: 30px 30px 0px 0px;
  }

  .leftContainer {
    height: 104px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .contactsOverlayImg {
    display: none;
  }

  .contactsOverlayHeadline {
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;
    width: 282px;
    height: 56px;
    gap: 0px;
    display: flex;
  }

  .contactsOverlaySubheadline {
    width: 275px;
    height: 24px;
    gap: 0px;
    display: block;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .overlayPersonContainer {
    width: 120px;
    height: 120px;
    top: 292px;
    left: 138px;
    gap: 0px;
    border-radius: 70px;
  }

  .overlayPersonLargeImg {
    width: 120px;
    height: 120px;
    top: 292px;
    left: 138px;
    gap: 0px;
    border-radius: 70px;
    border: 3px 0px 0px 0px;
    position: fixed;
    display: flex;
  }

  .overlayInputContainer {
    width: 364px;
    height: 153px;
    top: 444px;
    left: 16px;
    gap: 15px;
  }

  .overlayContactsInput {
    width: 364px;
    height: 41px;
    gap: 8px;
  }

  .contactCancelButton {
    display: none;
  }

  .contactButtons {
    width: 202px;
    height: 51px;
    top: 629px;
    left: 97px;
    padding: 18px 10px 18px 10px;
    gap: 4px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  /*Animation overlay window - add and edit*/

  @keyframes slide-up {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  /*Edit contact Overlay*/

  .editContactOverlay {
    position: fixed;
    top: 50%;
    left: calc(100vw / 2);
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 30px;
    opacity: 1;
    width: 396px;
    height: 760px;
    gap: 49px;
    border-radius: 30px;
    display: flex;
    animation: slide-up 0.5s ease-out forwards;
    transition: transform 0.5s ease-out;
  }

  /*New close button in white*/

  .closeEditOverlayIcon {
    display: none;
  }

  .whiteCloseEditOverlay {
    top: 24px;
    left: 348px;
    padding: 4px;
    gap: 0px;
    border-radius: 56px;
    position: absolute;
    display: flex;
    cursor: pointer;
  }

  .closeEditButtonWhite {
    width: 32px;
    height: 32px;
    border-radius: 56px;
  }

  .closeEditButtonWhite:hover {
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #29abe2;
  }

  .leftOverlayContentEdit {
    width: 396px;
    height: 352px;
    padding: 66px 24px 66px 24px;
    gap: 12px;
    display: flex;
    border-radius: 30px 30px 0px 0px;
  }

  .editOverlayHeadline {
    font-size: 47px;
  }

  .overlayInitialsContainer {
    width: 120px;
    height: 120px;
    top: 292px;
    left: 138px;
    gap: 0px;
    border-radius: 70px;
  }

  .editButtons {
    width: 201px;
    height: 51px;
    top: 647px;
    left: 97.5px;
    gap: 20px;
    padding: 18px 10px 18px 10px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .editDeleteButton {
    width: 82px;
    height: 51px;
    padding: 18px 10px 18px 10px;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .editButtonOverlay {
    width: 99px;
    height: 51px;
    padding: 18px 10px 18px 10px;
    gap: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
}

/*Media query*/

@media (max-width: 880px) {
  .buttonContainer {
    display: none;
  }

  .addContactIcon {
    position: absolute;
    border: none;
    background-color: #2a3647;
    width: 56px;
    height: 56px;
    gap: 10px;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 10px;
    bottom: 90px;
    z-index: 1;
  }

  .addContactIcon:hover {
    background-color: #29abe2;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .fullContactHeader {
    gap: 30px;
  }

  .contactsHeadline {
    font-size: 32px;
    line-height: normal;
  }

  .subheadingContacts {
    font-size: 18px;
    line-height: normal;
  }

  .contactsHeadlineContainer::after {
    transform: translateX(-170%);
    bottom: -10px;
  }

  .contactDetailsInitials {
    font-size: 30px;
    width: 60px;
    height: 60px;
  }

  .contactNameButtons {
    gap: 0;
  }

  .contactInfoHeader {
    font-size: 18px;
    align-items: flex-start;
  }

  .contactDetailsName {
    font-size: 16px;
  }

  .contactsSidebar {
    position: absolute;
    left: 0;
  }

  .fullContactDetails {
    top: 260px;
}
}